.dot {
  background-color: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8px;
  height: 8px;
  font-size: 13px;
  border-radius: 15px;
  color: white;
  font-weight: 600;
  position: absolute;
  left: 28px;
  bottom: 28px;
}
